// colors
$orange: #ff5c00;
$dark-bg: #141414;
$light-orange: #ffb680;
$black: #000000;
$dark-gray: #262626;
$header-catalog: #333333;
$gray: #707070;
$light-gray: #aaaaaa;
$white: #ffffff;
$link: #2c80ff;
$label-blue: #00fff0;
$label-green: #00ff66;
$error: #ff5353;
$success: #25d189;
$notification: #30606f;

// fonts
$font-heading: "Montserrat", sans-serif;
$font-text: "Open Sans", sans-serif;

// fonts/heading
$desktop-h1: 36px;
$desktop-h2: 32px;
$desktop-h3: 24px;
$desktop-h4: 18px;
$desktop-h5: 16px;

$mobile-h1: 26px;
$mobile-h2: 24px;
$mobile-h3: 20px;
$mobile-h4: 16px;
$mobile-h5: 14px;

// fonts/text
$desktop-text-subtitle: 24px;
$desktop-text: 18px;
$desktop-text-table: 16px;
$desktop-text-small: 14px;
$desktop-text-tiny: 12px;

$mobile-text-subtitle: 20px;
$mobile-text: 16px;
$mobile-text-table: 14px;
$mobile-text-small: 12px;
$mobile-text-tiny: 9px;

// fonts/span
$desktop-span-big: 18px;
$desktop-span: 16px;
$desktop-span-small: 14px;
$desktop-span-tiny: 12px;

$mobile-span-big: 16px;
$mobile-span: 14px;
$mobile-span-small: 12px;
$mobile-span-tiny: 10px;

// margins
$desktop-margin-2xl: 136px;
$desktop-margin-xl: 80px;
$desktop-margin-l: 64px;
$desktop-margin-m: 40px;
$desktop-margin-s: 32px;
$desktop-margin-xs: 24px;
$desktop-margin-2xs: 16px;
$desktop-margin-3xs: 8px;

$mobile-margin-2xl: 96px;
$mobile-margin-xl: 64px;
$mobile-margin-l: 40px;
$mobile-margin-m: 32px;
$mobile-margin-s: 24px;
$mobile-margin-xs: 16px;
$mobile-margin-2xs: 8px;
$mobile-margin-3xs: 4px;

// properties
$rounded-full: 9999px;
$transition: 200ms;
