// colors
$orange: #FF5C00;
$dark-bg: #141414;
$light-orange: #FFB680;
$black: #000000;
$dark-gray: #262626;
$header-catalog: #333333;
$gray: #707070;
$light-gray: #AAAAAA;
$white: #ffffff;
$link: #2C80FF;
$label-blue: #00FFF0;
$label-green: #00FF66;
$error: #FF5353;
$success: #25D189;
$notification: #30606F;

// fonts
$font-heading: 'Montserrat', sans-serif;
$font-text: 'Open Sans', sans-serif;

// fonts/heading
$desktop-h1: 36px;
$desktop-h2: 32px;
$desktop-h3: 24px;
$desktop-h4: 18px;
$desktop-h5: 16px;

$mobile-h1: 26px;
$mobile-h2: 24px;
$mobile-h3: 20px;
$mobile-h4: 16px;
$mobile-h5: 14px;

// fonts/text
$desktop-text-subtitle: 24px;
$desktop-text: 18px;
$desktop-text-table: 16px;
$desktop-text-small: 14px;
$desktop-text-tiny: 12px;

$mobile-text-subtitle: 20px;
$mobile-text: 16px;
$mobile-text-table: 14px;
$mobile-text-small: 12px;
$mobile-text-tiny: 9px;

// fonts/span
$desktop-span-big: 18px;
$desktop-span: 16px;
$desktop-span-small: 14px;
$desktop-span-tiny: 12px;

$mobile-span-big: 16px;
$mobile-span: 14px;
$mobile-span-small: 12px;
$mobile-span-tiny: 10px;

// margins
$desktop-2xl: 136px;
$desktop-xl: 80px;
$desktop-l: 64px;
$desktop-m: 40px;
$desktop-s: 32px;
$desktop-xs: 24px;
$desktop-2xs: 16px;
$desktop-3xs: 8px;

$mobile-2xl: 96px;
$mobile-xl: 64px;
$mobile-l: 40px;
$mobile-m: 32px;
$mobile-s: 24px;
$mobile-xs: 16px;
$mobile-2xs: 8px;
$mobile-3xs: 4px;

// properties
$rounded-full: 9999px;