@import "const";

@mixin font-size-heading($value) {
  font-family: $font-heading;
  font-style: normal;
  font-size: $value;
  font-weight: 700;
  line-height: 130%;
}

@mixin font-size-text($value) {
  font-family: $font-text;
  font-style: normal;
  font-size: $value;
  font-weight: 400;
  line-height: 150%;
}

@mixin font-size-span-bold($value) {
  font-family: $font-heading;
  font-style: normal;
  font-size: $value;
  font-weight: 700;
  line-height: 120%;
}

@mixin font-size-span-regular($value) {
  font-family: $font-heading;
  font-style: normal;
  font-size: $value;
  font-weight: 400;
  line-height: 130%;
}

@mixin game-card-label($color) {
  @include font-size-span-bold($desktop-text-tiny);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  text-transform: uppercase;
  color: $color;
  background: $black;
  border-radius: 0 0 15px 15px;
}

@mixin transition($value) {
  transition: all $value ease-in-out;
}
